@model IEnumerable<Reserva.Application.DTOs.HotelDTO>

@{
    ViewData["Title"] = "Hotéis";
}

<div>
    <h2>@ViewData["Title"]</h2>
</div>

<a asp-action="Create" class="btn btn-primary">Cadastrar Hotel</a>

<div>
    @foreach (var item in Model){
        <div>
            <hr/>
                <h4>@Html.DisplayNameFor(modelItem => item.Nome)</h4>
                <div>@Html.DisplayFor(modelItem => item.Nome)</div>
                <h4>@Html.DisplayNameFor(modelItem => item.Descricao)</h4>
                <div>@Html.DisplayFor(modelItem => item.Descricao)</div>
                <br/>
                <button>Editar</button>
                <button>Remover</button>
            <hr/>
            <br/>
        </div>
    }
</div>